body {                     
    background-color: #fdd;

            
}

canvas {
    width: auto;
    height: 80%;
    border: 0px solid #000;
    
}

div {
    display: flex;
}

.inicio {
    position:absolute;
    left: 380px;
    bottom: 54px;
    width: 220px;
    height: 140px;
    color: white;
    background-color: red;
    margin-right: 20px;
    border: 6px solid #fff;
    border-radius: 120px;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.winner {
    position:absolute;
    left:40px;
    top: 40px;
    width: 140px;
    height: 140px;
    color: white;
    background-color: red;
    border-radius: 120px;
    margin-right: 20px;
    border: 6px solid #fff;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gameover {
    position:absolute;
    left: 40px;
    top: 40px;
    width: 140px;
    height: 140px;
    color: white;
    background-color: red;
    border-radius: 120px;
    margin-right: 20px;
    border: 6px solid #fff;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {

    position:absolute;
    left:400px;
    bottom: 60%;
    width: 100px;
    height: 100px;

}
              

/* button {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 6px solid #000;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

img {
    width: auto;
    height:960px;
}
        
